<!DOCTYPE html>
<html>
<style>
    table {
        border-collapse: collapse;
        border: 1px solid grey;
    }
    th, td {border: 1px solid grey; padding: 5px; }
</style>
<head>
    <meta charset="UTF-8"/>
    <title>Список работников</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            getDataFromAPI();
        });
        function getDataFromAPI() {
            $.ajax({
                url: "/getEmployees",
                type: "GET",
                success: function (data) {
                    let table = document.getElementById("main_table");
                    table.replaceChild(document.createElement("tbody"), table.children[0]);
                    let body = table.children[0];
                    let tr = document.createElement("tr");
                    let td = document.createElement("th");
                    td.innerText = "ИД Сотрудника"
                    tr.appendChild(td)
                    td = document.createElement("th");
                    td.innerText = "Сотрудник"
                    tr.appendChild(td)
                    td = document.createElement("th");
                    td.innerText = "ИД Полномочия"
                    tr.appendChild(td)
                    td = document.createElement("th");
                    td.innerText = "Полномочие"
                    tr.appendChild(td)
                    body.appendChild(tr);
                    for (let i = 0; i < data.length; i++) {
                        let el = data[i]
                        let statuses = el['statuses']
                        let id = el['id']
                        let name = el['name']
                        console.log(statuses)
                        for (let j = 0; j < statuses.length; j++) {
                            let tr = document.createElement("tr")
                            let td = document.createElement("td")
                            td.innerText = id;
                            tr.appendChild(td)
                            td = document.createElement("td")
                            td.innerText = name;
                            tr.appendChild(td)
                            td = document.createElement("td")
                            td.innerText = statuses[j]['id'];
                            tr.appendChild(td)
                            td = document.createElement("td")
                            td.innerText = statuses[j]['name'];
                            tr.appendChild(td)
                            body.appendChild(tr)
                        }
                    }
                }, error: function (jqXHR, textStatus, errorThrown) {
                }
            });
        }
    </script>
</head>
<body>


<table id="main_table"><tbody></tbody></table>
</body>
</html>